ul {
list-style-type:none;
}

.identite{
  background-color: #2574a9;
}

.identite ol {
  background-color: #2574a9;
}

.adresse {
  background-color: #9a12b3;
}

.informations{
  background-color: #db0a5b;
}
