ul {
list-style-type:none;
}
.bleu {
  background-color: #2574a9;
}

.violet {
  background-color: #9a12b3;
}

.rose{
  background-color: #db0a5b;
}

#identite {
  background-color: #2574a9;
}

#adresse {
  background-color: #9a12b3;
}

#informations {
  background-color: #db0a5b;
}
